## YASHASVI VERMA

### Exploratory data analysis project

Data Cleaning and EDA using the IMDB movies dataset

Importing python libraries

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_csv('C:\Datasets\movies.csv')

# Cleaning the data

In [11]:
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [9]:
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [10]:
df.isnull().sum().sort_values()

budget                     0
title                      0
status                     0
spoken_languages           0
revenue                    0
production_countries       0
vote_average               0
popularity                 0
production_companies       0
original_title             0
original_language          0
keywords                   0
id                         0
genres                     0
vote_count                 0
release_date               1
runtime                    2
overview                   3
tagline                  844
homepage                3091
dtype: int64

In [90]:
df = df.drop(['homepage','tagline','overview'], axis=1)

In [91]:
df.head(2)

,budget,genres,id,keywords,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pirates of the Caribbean: At World's End,6.9,4500

In [92]:
print(df[df["release_date"].isnull()])

      budget genres      id keywords original_language  \
4553       0     []  380097       []                en

                  original_title  popularity production_companies  \
4553  America Is Still the Place         0.0                   []

     production_countries release_date  revenue  runtime spoken_languages  \
4553                   []          NaN        0      0.0               []

        status                       title  vote_average  vote_count
4553  Released  America Is Still the Place           0.0           0

In [93]:
df = df[df['release_date'].notnull()]

In [94]:
df.isnull().sum().sort_values(ascending=False)

runtime                 2
vote_count              0
production_companies    0
genres                  0
id                      0
keywords                0
original_language       0
original_title          0
popularity              0
production_countries    0
vote_average            0
release_date            0
revenue                 0
spoken_languages        0
status                  0
title                   0
budget                  0
dtype: int64

In [95]:
df.groupby('runtime').runtime.count()

runtime
0.0      34
14.0      1
25.0      1
41.0      1
42.0      1
         ..
242.0     1
248.0     1
254.0     1
276.0     1
338.0     1
Name: runtime, Length: 156, dtype: int64

In [96]:
df.runtime.describe()

count    4800.000000
mean      106.898125
std        22.561593
min         0.000000
25%        94.000000
50%       103.000000
75%       118.000000
max       338.000000
Name: runtime, dtype: float64

In [97]:
df.runtime = df.runtime.fillna(106.8)

In [98]:
df.isnull().sum().sort_values(ascending=False)

vote_count              0
production_companies    0
genres                  0
id                      0
keywords                0
original_language       0
original_title          0
popularity              0
production_countries    0
vote_average            0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
title                   0
budget                  0
dtype: int64

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4802 entries, 0 to 4802
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4802 non-null   int64
 1   genres                4802 non-null   object
 2   id                    4802 non-null   int64
 3   keywords              4802 non-null   object
 4   original_language     4802 non-null   object
 5   original_title        4802 non-null   object
 6   popularity            4802 non-null   float64
 7   production_companies  4802 non-null   object
 8   production_countries  4802 non-null   object
 9   release_date          4802 non-null   object
 10  revenue               4802 non-null   int64
 11  runtime               4802 non-null   float64
 12  spoken_languages      4802 non-null   object
 13  status                4802 non-null   object
 14  title                 4802 non-null   object
 15  vote_average          4802 non-null   float64
 16  vote_count            4802 non-null   int64
dtypes: float64(3), int64(4), object(10)
memory usage: 675.3+ KB

# 1) Which are the movies with the third-lowest and third-highest budget?

In [133]:
a = df.sort_values(by=['budget'])

In [136]:
a

,budget,genres,id,keywords,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,My Date with Drew,6.3,16
3582,0,"[{""id"": 18, ""name"": ""Drama""}]",15660,"[{""id"": 3598, ""name"": ""ax""}, {""id"": 5565, ""nam...",en,Mommie Dearest,3.102862,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1981-09-18,0,129.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Mommie Dearest,6.5,54
3585,0,"[{""id"": 18, ""name"": ""Drama""}]",19848,"[{""id"": 3688, ""name"": ""strip club""}, {""id"": 65...",en,The Players Club,5.769822,"[{""name"": ""New Line Cinema"", ""id"": 12}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1998-04-08,0,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Players Club,6.4,14
3587,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",235271,"[{""id"": 1326, ""name"": ""infidelity""}, {""id"": 15...",en,Addicted,7.544515,"[{""name"": ""Lionsgate"", ""id"": 1632}, {""name"": ""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2014-10-10,0,105.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Addicted,5.4,63
1261,0,"[{""id"": 35, ""name"": ""Comedy""}]",11025,"[{""id"": 1608, ""name"": ""twin sister""}, {""id"": 5...",en,New York Minute,10.040300,"[{""name"": ""DiNovi Pictures"", ""id"": 813}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-05-01,0,91.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,New York Minute,5.5,185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,John Carter,6.1,2124
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391081192,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Superman Returns,5.4,1400
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Avengers: Age of Ultron,7.3,6767
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pirates of the Caribbean: At World's End,6.9,4500
17,380000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1865,"[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",en,Pirates of the Caribbean: On Stranger Tides,135.413856,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-05-14,1045713802,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Pirates of the Caribbean: On Stranger Tides,6.4,4948

In [102]:
a[2:3].original_title

3585    The Players Club
Name: original_title, dtype: object

In [103]:
a[-3:-2].original_title

7    Avengers: Age of Ultron
Name: original_title, dtype: object

ANS : Movie with the third-lowest budget is "The Players Club"
Movie with third-highest budget is "Avengers: Age of Ultron"

# 2) What is the average number of words in movie titles between the years 2000-2005?

In [104]:
df.head(2)

,budget,genres,id,keywords,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pirates of the Caribbean: At World's End,6.9,4500

In [137]:
df.original_title

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: original_title, Length: 4802, dtype: object

In [105]:
start_date = "2000-01-01"
end_date = "2005-12-31"

In [106]:
a = df['release_date'] >= start_date

In [107]:
b = df['release_date'] <= end_date

In [108]:
between_2000_5 = a & b

In [109]:
filter_data = df.loc[between_2000_5]

In [110]:
new_data = filter_data

In [111]:
new_data

,budget,genres,id,keywords,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count
24,207000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",254,"[{""id"": 774, ""name"": ""film business""}, {""id"": ...",en,King Kong,61.226010,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2005-12-14,550000000,187.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,King Kong,6.6,2337
30,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",558,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 2,35.149586,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-06-25,783766341,127.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Spider-Man 2,6.7,4321
63,180000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",411,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,"The Chronicles of Narnia: The Lion, the Witch ...",67.391328,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2005-12-07,748806957,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"The Chronicles of Narnia: The Lion, the Witch ...",6.7,2629
90,165000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 16, ""...",5255,"[{""id"": 1991, ""name"": ""santa claus""}, {""id"": 5...",en,The Polar Express,47.323228,"[{""name"": ""Golden Mean"", ""id"": 1867}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-11-10,305875730,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Polar Express,6.4,1474
93,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",296,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Terminator 3: Rise of the Machines,69.405188,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...",2003-07-02,435000000,109.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Terminator 3: Rise of the Machines,5.9,2143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4790,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10769, ""n...",13898,[],fa,Ø¯Ø§ÛŒØ±Ù‡,1.193779,"[{""name"": ""Jafar Panahi Film Productions"", ""id...","[{""iso_3166_1"": ""IR"", ""name"": ""Iran""}]",2000-09-08,0,90.0,"[{""iso_639_1"": ""fa"", ""name"": ""\u0641\u0627\u06...",Released,The Circle,6.6,17
4793,0,"[{""id"": 18, ""name"": ""Drama""}]",182291,"[{""id"": 718, ""name"": ""confession""}, {""id"": 100...",en,On The Downlow,0.029757,"[{""name"": ""Iconoclast Films"", ""id"": 26677}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-04-11,0,90.0,[],Released,On The Downlow,6.0,2
4796,7000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-10-08,424760,77.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Primer,6.9,658
4797,0,"[{""id"": 10769, ""name"": ""Foreign""}, {""id"": 53, ...",67238,[],en,Cavite,0.022173,[],[],2005-03-12,0,80.0,[],Released,Cavite,7.5,2
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,My Date with Drew,6.3,16

In [138]:
new_data.original_title

24                                              King Kong
30                                           Spider-Man 2
63      The Chronicles of Narnia: The Lion, the Witch ...
90                                      The Polar Express
93                     Terminator 3: Rise of the Machines
                              ...
4790                                                Ø¯Ø§ÛŒØ±Ù‡
4793                                       On The Downlow
4796                                               Primer
4797                                               Cavite
4802                                    My Date with Drew
Name: original_title, Length: 1142, dtype: object

In [112]:
count = new_data['original_title'].str.split().str.len()

In [113]:
count.sort_index(inplace=False)

24       2
30       2
63      11
90       3
93       6
        ..
4790     1
4793     3
4796     1
4797     1
4802     4
Name: original_title, Length: 1142, dtype: int64

In [114]:
count.mean()

2.7425569176882663

ANS : The average number of words in movie titles between the years 2000-2005 are *2.7425569176882663*

# 4) Which are the movies with the most and least earned revenue?

In [115]:
df.loc[df['revenue'].idxmax()]

budget                                                          237000000
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
popularity                                                        150.438
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                               162
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
Name: 0, dtype: object

In [116]:
maximum = df.loc[df['revenue'].idxmax()].original_title

In [117]:
maximum

'Avatar'

In [118]:
df.loc[df['revenue'].idxmin()]

budget                                                           27000000
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
id                                                                  79698
keywords                                                               []
original_language                                                      en
original_title                                                 The Lovers
popularity                                                        2.41853
production_companies    [{"name": "Corsan", "id": 7299}, {"name": "Bli...
production_countries    [{"iso_3166_1": "AU", "name": "Australia"}, {"...
release_date                                                   2015-02-13
revenue                                                                 0
runtime                                                               109
spoken_languages                 [{"iso_639_1": "en", "name": "English"}]
status                                                           Released
title                                                          The Lovers
vote_average                                                          4.8
vote_count                                                             34
Name: 83, dtype: object

In [119]:
minimun = df.loc[df['revenue'].idxmin()].original_title

In [120]:
minimun

'The Lovers'

ANS : Movie with the most earned revenue is 'Avatar' and
Movie with the least earned revenue is 'The Lovers'

# 5) What is the average runtime of movies in the year 2006?

In [121]:
start_date = "2006-01-01"
end_date = "2007-01-01"

In [122]:
start_d = df['release_date'] >= start_date

In [123]:
end_d = df['release_date'] <= end_date

In [124]:
dates_bet = start_d & end_d

In [125]:
filter_d = df.loc[dates_bet]

In [126]:
filter_d

,budget,genres,id,keywords,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391081192,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Superman Returns,5.4,1400
12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",58,"[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...",en,Pirates of the Caribbean: Dead Man's Chest,145.847379,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""JM"", ""name"": ""Jamaica""}, {""is...",2006-06-20,1065659812,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Pirates of the Caribbean: Dead Man's Chest,7.0,5246
33,210000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",36668,"[{""id"": 1852, ""name"": ""mutant""}, {""id"": 8828, ...",en,X-Men: The Last Stand,3.857526,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2006-05-24,459359555,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,X-Men: The Last Stand,6.3,3525
104,160000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",503,"[{""id"": 613, ""name"": ""new year's eve""}, {""id"":...",en,Poseidon,21.133748,"[{""name"": ""Virtual Studios"", ""id"": 449}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-05-12,181674817,99.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Poseidon,5.5,583
139,150000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",956,"[{""id"": 220, ""name"": ""berlin""}, {""id"": 591, ""n...",en,Mission: Impossible III,63.079003,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""CN"", ""name"": ""China""}, {""iso_...",2006-05-03,397850012,126.0,"[{""iso_639_1"": ""de"", ""name"": ""Deutsch""}, {""iso...",Released,Mission: Impossible III,6.5,2028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4612,300000,"[{""id"": 18, ""name"": ""Drama""}]",26518,"[{""id"": 187056, ""name"": ""woman director""}]",en,Old Joy,1.673208,"[{""name"": ""Film Science"", ""id"": 1976}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-01-01,0,73.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Old Joy,6.3,36
4662,0,"[{""id"": 35, ""name"": ""Comedy""}]",40963,"[{""id"": 10183, ""name"": ""independent film""}]",en,Little Big Top,0.092100,"[{""name"": ""Fly High Films"", ""id"": 24248}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-01-01,0,0.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Rumored,Little Big Top,10.0,1
4722,100000,"[{""id"": 18, ""name"": ""Drama""}]",18925,"[{""id"": 5950, ""name"": ""christian""}, {""id"": 607...",en,Facing the Giants,4.563698,"[{""name"": ""Destination Films"", ""id"": 769}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-09-29,10178331,111.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Facing the Giants,6.6,64
4754,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",84659,[],en,The Naked Ape,0.077577,[],[],2006-09-16,0,110.0,[],Rumored,The Naked Ape,5.0,1
4791,13,"[{""id"": 27, ""name"": ""Horror""}]",157185,"[{""id"": 14903, ""name"": ""home invasion""}]",en,Tin Can Man,0.332679,"[{""name"": ""Park Films"", ""id"": 21871}, {""name"":...","[{""iso_3166_1"": ""IE"", ""name"": ""Ireland""}]",2007-01-01,0,84.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Tin Can Man,2.0,1

In [127]:
new_d = filter_d

In [128]:
new_d.runtime.describe()

count    243.000000
mean     104.897119
std       22.223362
min        0.000000
25%       91.500000
50%      103.000000
75%      117.000000
max      193.000000
Name: runtime, dtype: float64

In [129]:
mean_d = new_d["runtime"].mean()

In [130]:
mean_d

104.89711934156378

ANS : The average runtime of movies in the year 2006 is *104.89711934156378*